<!--<P><%= link_to "Home", root_path%> |
<%= link_to "About", about_path%>
</p>-->
<div id='page-content'> 
    <h1 class="text-center mt-4">Listing all articles</h1>

    <div class="container">
        <% @articles.each do |article| %>
        <div class="row justify-content-md-center" >  
            <div class="col-8 mt-4">  
                <div class="card text-center">
                    <div class="card-header font-italic">
                        <%= article.user.username if article.user%> 
                    </div>  <%#every article need to be associated with user or will give error#%>
                    <div class="card-body">                                                    <%#for green color#%>
                        <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
                        <p class="card-text"><%= truncate(article.description, length: 100) %></p>
                                            <%#rails truncate is used for for large text #%>
                        <!--<a href="#" class="btn btn-outline-success">View</a>-->
                        <%= link_to 'View', article_path(article), class: "btn btn-outline-success"%>
                        <!--<a href="#" class="btn btn-outline-info">Edit</a>-->
                        <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-info"%>
                        <!--<a href="#" class="btn btn-outline-dangers">Delete</a>-->
                        <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger"%>
                    </div>
                    <div class="card-footer text-muted"> <%#time_ago_in_words is helper method of rails for friendly time view #%>
                        <small> Created <%= time_ago_in_words(article.created_at)%> ago, 
                                Edited <%= time_ago_in_words(article.updated_at)%> ago
                        </small>
                    </div>
                </div>
            </div>  
        </div> 
        <% end %>
    </div>
</div>

<!-- 
<table>
    <thead>
        <tr>
            <th>Title </th>
            <th>Description </th>
            <th colspan="3">Action </th><%#colspan-to merge last 3 columns; or we can add all in single <td>#%>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
        <tr>            
        <td><%= article.title %> </td>
        <td><%= article.description %> </td>  
        <td><%= link_to 'Show', article_path(article)%> </td>
        <td><%= link_to 'Edit', edit_article_path(article)%></td>        <%#data:...-> Javascript syntax #%>
        <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>              
        </tr>   <%# here we are adding :method because show & delete routes are same ie.  /article/:id #%>
        <%end%>
    </tbody>
</table>
-->
<%= link_to "Create Aticle", new_article_path(@article)%>
