<div id="page-content">
    <h2 class="text-center mt-4"> Create a new article </h2>
    <!-- <%= render 'form' %> -->

    <%if @article.errors.any?%>
    <h3> The following errors are prevented from article being saved</h3>
    <ul>
        <% @article.errors.full_messages.each do |msg|%>
        <li> <%= msg %> </li>
        <% end %>
    </ul>
    <%end%>

    <%= form_with scope: :article, url: articles_path, local: true do |f|%>
        <div class="form-group-row">
            <%= f.label :title, class: "col-2 col-form-label"%> 
            <div class="col-10" >
                <%= f.text_field :title%>
            </div>
        </div>

        <div class="form-group-row">
            <%= f.label :description, class: "col-2 col-form-label"%>
            <div class="col-10" >
                <%= f.text_area :description%>
            </div>
        </div>

    <p>
        <%= f.submit%>
    </p>

    <% end %>   


    <%= link_to "Return to Articles Listing", articles_path%>

</div>