
<h1 class="text-center mt-4"> Users information </h1>

<br>
<%=link_to "Create/signup User", signup_path%>
<table class="table table table-striped table table-hover">
  <thead class="table-dark">
    <tr>
      <th> Id</th>
      <th>Name</th>
      <th>Email</th>
     <!-- <th>Joined</th> 
      <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.id%></td>
        <td><%= link_to u.username, u %></td>  <%#it will give link to user show page#%>
        <td><%= u.email %></td>
    <!--    <td><%= time_ago_in_words(u.created_at) %></td>  
        <td><%= link_to 'Show', u %></td>
        <td><%= link_to 'Edit', edit_user_path(u) %></td>
        <td><%= link_to 'Destroy'%></td> -->
      </tr>
    <% end %>
  </tbody>
</table>